.modal{ background-color:rgb(95, 95, 95) !important; }
.fade.in {
    opacity: 1 !important;
    display: block ;
}
form{font-family: 'Montserrat';}
label.text-info {
    width: 100%;
}
.fieldsContainer{ width:40%; margin:0 auto; float:none;}

form.formContainer {
    background-color: rgba(0, 0, 0, 0.52);
    padding: 2em;
    border-radius: 5px;    
}
h2 {
    margin-top: 0px;
    margin-bottom: 1em;
    font-weight: bold;
    color: #fff !important;
}
.text-info {
    color:#fff !important;
}
.btn-info, .btn-info:hover {
    color: #fff;
    background-color: #05499e;
    border-color: #05499e;
    font-weight: bold;
}

@media only screen and (min-width:320px) and (max-width:767px){
    .fieldsContainer {
        width: 100%;
    }
}