
<div class="row">
    <div class="col-md-6 mb-3">
        
            <div class="card border-0 p-5 " style=" font-size: 1.2rem; background-color: #373D42;">
                <div class="card-header border-0 transparent text-white d-flex justify-content-between p-4">
                    <p>{{name}}</p>
                    <p>You've worked: </p>
                    <p>{{tot_time}} sec</p>
                    
                </div>
            </div>
        
    </div>
    <div class="col-md-6 mb-3">
        
            <div class="card border-0 p-5 " style=" font-size: 1.2rem; background-color: #506373;">
                <div class="card-header border-0 transparent text-white d-flex justify-content-between p-4">
                    <span>Total Number of Logins: </span>
                    <p>{{login}}</p>
                    
                </div>
            </div>
        
    </div>
    
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            
                <div class="card border-0 p-5 " style=" font-size: 1.2rem; background-color: #373D42;">
                    <div class="card-header border-0 transparent text-white d-flex justify-content-between p-4">
                        <span>Attention Percentage: </span>
                        <p>{{attention}} %</p>
                        
                    </div>
                </div>
            
        </div>
        <div class="col-md-4 mb-3">
            
                <div class="card border-0 p-5 " style=" font-size: 1.2rem; background-color: #506373;">
                    <div class="card-header border-0 transparent text-white d-flex justify-content-between p-4">
                        <span>Percentage of time looking left: </span>
                        <p>{{left}} %</p>
                        
                    </div>
                </div>
            
        </div>
        <div class="col-md-4 mb-3">
            
            <div class="card border-0 p-5 " style=" font-size: 1.2rem; background-color: #506373;">
                <div class="card-header border-0 transparent text-white d-flex justify-content-between p-4">
                    <span>Percentage of time looking right: </span>
                    <p>{{right}} %</p>
                    
                </div>
            </div>
        
    </div>
        
        </div>

    
            <iframe [src]="stream_link" width="850" height="500" ></iframe>
  



    